body{
    width:40%;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    background-image:url("https://www.ing.be/Assets/nuid/images/1920/multi-bank-management-1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}

